:root {
  /** variabili di base */
  --unit: 4px;

  --font-s: 20px;
  --font-m: 24px;
  --font-l: 28px;
  --font-x: 34px;
  --font-xl: 40px;

  --weight-big: 400;
  --default-line-height: 1.5;
  --default-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-yellow: #ffde59;
  --color-darkgray: #cccccc;

  font-family: var(--default-font-family);
  line-height: var(--default-line-height);
  font-size: var(--font-s);

  /** variabili semaptihe */
  --background-light: var(--color-yellow);
  --background-dark: var(--color-darkgray);
}

h1 {
  font-size: var(--font-x);
}

button,
label,
input {
  font-size: --font-l;
  padding: calc(var(--unit) * 2);
  border-radius: calc(var(--unit) * 5);
  border-width: 1px;
  border-color: #000002;
  margin: var(--unit);
}

button {
  box-shadow: 2px 2px 8px #795548;
}

.sensorario-container {
  width: 100%;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.light {
    background-color: var(--background-light);
  }
  &.dark {
    background-color: var(--background-dark);
  }
}
