:root {
  --unit: 4px;
  --font-small: 20px;
  --weight-big: 400;
  --default-line-height: 1.5;
  --default-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-yellow: #ffde59;
  --color-dark: #242424;

  font-family: var(--default-font-family);
  line-height: var(--default-line-height);
  font-size: var(--font-small);
}
